
{{ define "mouth>young_lips>back" }}

{{ end }}

{{ define "mouth>young_lips>front" }}

	
		<path style="fill-rule:evenodd;clip-rule:evenodd;fill:none;stroke:#000000;stroke-width:8.5039;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:2.6131;" d="
		M1946,1894.534c-80.532,19.224-157.388,26.119-230.57,20.687c-87.023-6.46-219.29-75.145-285.43-54.638"/>

{{ end }}
