
{{ define "general>background>back" }}

	<rect style="fill-rule:evenodd;clip-rule:evenodd;fill:{{- .BackgroundColor -}};" width="2500" height="2500"/>

{{ end }}

{{ define "general>background>front" }}

{{ end }}
